.App {
  text-align: center;
  background-color: #be9cff;
}

.App-header {
  background-color: #d2baff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: rgb(31, 15, 59);
}

input {
  padding: 0.5rem;
  font-size: 1rem;
}

button {
  margin-left: 0.5rem;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  cursor: pointer;
}

p {
  margin-top: 1rem;
  font-size: 1.5rem;
}

li.striked-through {
  text-decoration: line-through;
}

.item-info {
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
  padding: 15px;
  border: 1px solid #3b2e75;
  background-color: #e5cfff;
}