.App {
  background-color: #d4c0fa;
  font-family: Arial, sans-serif;
  text-align: center;
  padding: 20px;
}

.attendance-section {
  max-width: 600px;
  padding: 20px;
  margin: 10px auto;
  border: 1px solid #a676ff;
  border-radius: 10px;
  background-color: #a872ff;
  color: #000000;
  text-align: center;
  box-sizing: border-box; 
}

.done-message {
  max-width: 600px;
  padding: 20px;
  margin: 10px auto;
  border: 1px solid #bd76ff;
  border-radius: 10px;
  background-color: #d49fff;
  color: #000000;
  text-align: center;
  box-sizing: border-box; 
}

select, button {
  margin: 10px;
  padding: 10px;
  font-size: 16px;
}

p {
  font-size: 18px;
}


.content-area {
  margin-top: 20px;
}

input {
  padding: 0.5rem;
  font-size: 1rem;
}

button {
  margin-left: 0.5rem;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  cursor: pointer;
}



li.striked-through {
  text-decoration: line-through;
}
.item-info div {
  margin-bottom: 10px; 
}


.App-header {
  background-color: #0a0a0a;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: rgb(254, 253, 255);
}

.menu-list {
  list-style-type: none;
  cursor: pointer;
  padding: 0;
}

.menu-list li {
  display: inline;
  margin: 0 10px;
}

.item-info {
  max-width: 600px;
  margin: 10px auto;
  text-align: center;
  padding: 15px;
  border: 1px solid #3b2e75;
  border-radius: 10px; 
  background-color: #e5cfff;
  box-sizing: border-box; 
}


.home-info {
  max-width: 600px;
  padding: 20px;
  margin: 10px auto;
  text-align: center;
  border: 1px solid #4caf50;
  border-radius: 10px;
  background-color: #d0f0c0;
  color: #4caf50;
  box-sizing: border-box; 
}
.profile-info {
  max-width: 600px;
  padding: 20px;
  margin: 10px auto;
  border: 1px solid #2196f3;
  border-radius: 10px;
  background-color: #bbdefb;
  color: #2196f3;
  text-align: center;
  box-sizing: border-box; 
}

.about-info {
  max-width: 600px;
  text-align: center;
  box-sizing: border-box; 
  padding: 20px;
  border: 1px solid #ff9800;
  border-radius: 10px;
  background-color: #ffe0b2;
  color: #ff9800;
}

