
body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background-color: #f5f5f5;
  color: #333;
}


.App-header {
  background: linear-gradient(135deg, #ffffffec, #91a9f7);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  font-size: calc(12px + 2vmin);
  color: #333;
  text-align: center;
}

.menu-list {
  list-style-type: none;
  padding: 0;
  margin: 20px 0;
  display: flex;
  gap: 15px;
}

.menu-list li {
  cursor: pointer;
  padding: 10px 20px;
  background: linear-gradient(135deg, #5a45b4ec, #7642b9);
  color: white;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}



.content-area {
  margin-top: 30px;
  width: 100%;
  max-width: 800px;
  background-color: white;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.home-info, .profile-info, .about-info, .admin-info {
  text-align: center;
}


.home-info button {
  background-color: rgb(49, 7, 83);
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-right: 50px;
}

.home-info button:hover {
  background-color: rgb(106, 102, 167);
}

.home-info button:active {
  transform: scale(0.98);
}


.profile-info button {
  background-color: rgb(9, 56, 94);
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.profile-info button:hover {
  background-color: rgb(79, 155, 158);
}

.profile-info button:active {
  transform: scale(0.98);
}


.about-info button {
  background-color: rgb(128, 25, 114);
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.about-info button:hover {
  background-color: rgb(205, 144, 218);
}

.about-info button:active {
  transform: scale(0.98);
}

.admin-info button {
  background-color: rgb(52, 32, 141);
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-right: 50px;
}

.admin-info button:hover {
  background-color: rgb(157, 171, 255);
}

.admin-info button:active {
  transform: scale(0.98);
}


input[type="text"] {
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: calc(100% - 22px);
  box-sizing: border-box;
}

input[type="text"]:focus {
  outline: none;
  border-color: #3c0074;
  box-shadow: 0 0 5px rgba(128, 101, 245, 0.5);
}
